.pagination-3{font-size: 0}
.pages .pagination-3{list-style: none;display: inline-block;clear:both;font-size: 0;float: right; margin-top: 10px;}
.pages .pagination-3 li{display: inline;font-size:12px;line-height: 1.5;}
.pages .pagination-3 ul{margin-right:0} 
.pages .pagination-3 li a{
	cursor: pointer;transition: all .3s ease;
	display: inline-block;color:#555;height: 26px;width: 28px;border:1px solid #e5e5e5;font-weight: bold;
	border-left: 1px solid transparent;padding:9px 0;text-align: center;font-size:12px;line-height: 5px;
}
.pages .pagination-3 li.prev a{margin-right: 5px;border:1px solid #e5e5e5;}
.pages .pagination-3 li.next a{margin-left: 5px;border:1px solid #e5e5e5;}
.pages .pagination-3 li a.pre_break,.pages .pagination-3 li a.next_break{border:0 !important;border-right: 1px solid #e5e5e5 !important;color:#555 !important;}
.pages .pagination-3 li a.next_break{border-right: 0 !important;}
.pages .pagination-3 li:nth-child(2) a{border-left: 1px solid #e5e5e5;}
.pages .pagination-3 li:first-child:hover a{border-left: 1px solid #0099CC;}
.pages .pagination-3 li.active a{background: #0099CC !important;border-color: #00aaff !important;}
.pages .pagination-3 li.active a{color:#fff !important;}
.pages .pagination-3 li:hover a{color:#0099CC;border:1px solid #0099CC;}
.pages .pagination-3 li input{padding-left: 10px;width: 42px;height: 22px;border:1px solid #e5e5e5;vertical-align: middle;margin:0 5px;transition: all .3s ease;}
.pages .pagination-3 li input:focus{border-color: #00aaff;}
.pages .pagination-3 li a.jump{
	margin-left: 5px;width: 42px;height: 22px;padding: 0px;background: #0099CC;color:#fff !important;
	display: inline-block;border:1px solid #0099CC;font-weight: normal;vertical-align:middle;border-radius: 2px !important;line-height: 20px;
}
.pages .pagination-3 li a.jump:hover{background: #00aaff;border-color:#00aaff;}
.pages .pagination-3 li.total_page{margin-left: 5px;}
